<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>History</title>
    </head>
    <body>
        <h1 class="notify">Receipt History</h1>
        <ul>
            <% data.forEach(function(data) { %>
                <li>                                  Receipt
                        <br>*****************************************************************************************
<br>
<form action="/print" method="GET">
<input type="submit" value="Print">
</form>
                    <br>
                    Customer Name:<%= data.name %>
                    <br>
                    Mobile No.:<%= data.mobilenumber %>
                    <br>
                    Arrival Time:<%= data.arrivaltime %>
                    <br>
                    Car No:<%= data.carno %>
                    <br>
                    Brand:<%= data.brand %>
                    <br>
                    Model:<%= data.model %>
                    <br>
                    Amount Due:<%= data.amountdue%>
                    <br>
                *****************************************************************************************
                </li>
                <br>
            <% }); %>
        </ul>
        <br>
        <form action="/login" method="GET">
                <input type="submit" value="Go Back">
    </body>
</html>